<h1>About this app</h1>
<div class="row">
  <div class="col-md-8">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique quia quisquam possimus, nam amet incidunt
      quam totam illo ipsa saepe, distinctio debitis expedita fuga, iste odio consequatur repellendus? Eaque eos harum
      quis minus earum. Doloribus facere inventore, fugiat sed amet unde nam totam vero asperiores voluptatibus hic
      consequuntur voluptatum quod esse labore cupiditate! Consequatur, nobis! Necessitatibus quae quaerat inventore
      fuga rerum, voluptatibus ab accusamus? Dolores corporis officia omnis provident consectetur ullam, suscipit porro
      praesentium quia molestias sit voluptates aperiam laudantium temporibus iusto quam ex, tenetur nobis repellat
      similique ipsum. Ducimus, ad! Architecto error ea odit! Voluptatum expedita quibusdam dolorem consectetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deleniti animi nobis expedita eaque fugit dolorem
      possimus excepturi natus labore in veritatis qui, mollitia, debitis dicta earum aspernatur vel quae magni
      repellendus? Eveniet cupiditate officia libero dicta provident perspiciatis expedita eaque, molestias obcaecati
      ratione corporis iure ea voluptas minus omnis?</p>
  </div>
  <div class="col-md-4 well">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos tenetur ex voluptas deserunt sapiente ullam
      odio tempore ratione distinctio, et ducimus placeat cum illum maxime cumque modi quae dolores id quibusdam
      consequuntur, harum vel quaerat repudiandae nostrum. Autem, dolorem, est asperiores unde amet expedita
      necessitatibus veniam quos atque itaque rerum quas facilis, architecto sint! Magnam fugit quidem sit eius est
      adipisci quo cupiditate consectetur doloribus porro. Obcaecati nesciunt quam natus ducimus accusantium quaerat,
      consectetur libero nostrum dolore vero officiis hic.</p>
  </div>
</div>