<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Main left-side "home" link -->
    <div class="navbar-header">
      <!-- <a href="#home" class="navbar-brand">Home</a> -->
      <a class="navbar-brand" routerLink='/home'>Home</a>
    </div>
    <!-- Other links -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <!-- <a href="#about">About me</a> -->
          <a routerLink='/about'>About me</a>
        </li>
        <li>
          <!-- <a href="#contact">Contact me</a> -->
          <a routerLink='/contact'>Contact me</a>
        </li>
        <li>
          <!-- <a href="#contact">Contact me</a> -->
          <a routerLink='/persons'>Person list</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>