<div class="row">

  <div class="col-md-9">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Last name</th>
          <th>First name</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody class="tableBody">
        <tr *ngFor="let c of customers" (click)="selectRow(c)">
          <!-- <td>{{c.lastname}}</td>
          <td>{{c.firstname}}</td>
          <td>{{c.city}}</td> -->
          <td>
            <input class="form-control" [(ngModel)]="c.lastname">
          </td>
          <td>
            <input class="form-control" [(ngModel)]="c.firstname">
          </td>
          <td>
            <input class="form-control" [(ngModel)]="c.city">
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="well col-md-3">
    <h3>Select a row</h3>
    <p>First name:
      <br>
      <!-- {{ selectedCust.firstname }} -->
      <input class="form-control" [(ngModel)]="selectedCust.firstname">
    </p>
    <p>Last name:
      <br>
      <!-- {{ selectedCust.lastname }} -->
      <input class="form-control" [(ngModel)]="selectedCust.lastname">
    </p>
    <p>City:
      <br>
      <!-- {{ selectedCust.city }} -->
      <input class="form-control" [(ngModel)]="selectedCust.city">
    </p>
  </div>

</div>

<hr>

<div class="row">

  <div class="col-md-9">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Last name</th>
          <th>First name</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody class="tableBody">
        <tr *ngFor="let c of customers" (click)="selectRow(c)">
          <td>{{c.lastname}}</td>
          <td>{{c.firstname}}</td>
          <td>{{c.city}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
