<h1>Contact information</h1>
<div class="row">
  <div class="col-md-8">
    <p>Here is contact information for the developer of this app:</p>
    <dl class="dl-horizontal">
      <dt>Student name</dt>
      <dd>{{ s.name }}</dd>
      <dt>Student number</dt>
      <dd>{{ s.id }}</dd>
      <dt>City</dt>
      <dd>{{ s.city }}</dd>
    </dl>
  </div>
  <div class="col-md-4 well">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit animi voluptatem doloremque ut
      odio vitae repudiandae rerum nisi harum expedita cupiditate, perferendis magni, quo sequi? Aspernatur quae nisi
      iste necessitatibus quam, dolores asperiores esse voluptate unde! Accusamus, est, cupiditate veritatis distinctio
      fugit impedit aspernatur omnis perspiciatis molestiae doloribus laboriosam facere ipsam exercitationem provident
      iusto! Quia provident sunt odio, laboriosam amet soluta enim assumenda, molestias sit similique non est iure quasi
      laborum ut at. Nisi.</p>
  </div>
</div>