<p>About</p>
<p>This Angular app is based on the <code>&nbsp;angular-crud&nbsp;</code> code example, and it introduces us to form and data validation.</p>
<p>It continues to use the <code>&nbsp;reqres.in&nbsp;</code> web service.</p>
<hr>
<p>List of users from reqres.in:</p>
<ul>
  <li *ngFor="let u of users">{{ u.first_name }} {{ u.last_name }} (id {{ u.id }})</li>
</ul>
<p>One specific user with identifier 5 from reqres.in:</p>
<!-- Show this only if "user" has data -->
<ul *ngIf="user">
  <li>{{ user.first_name }} {{ user.last_name }}</li>
</ul>