<div class="row">
  <div class="col-md-8">
    <h3>Create a new user</h3>
    <p>Enter data, and click/tap the Save button</p>
    <form (ngSubmit)='userSave()' #f='ngForm'>

      <div class="form-group">
        <label class="control-label" for="name">Name:</label>
        <input class="form-control" id="name" name="name" [(ngModel)]="newUser.name" required minlength="3"
          maxlength="100" #name="ngModel" autofocus>

        <!-- Validation error area -->
        <!-- Single condition... -->
        <!-- <div [hidden]="name.valid || name.pristine" class='alert alert-danger'> -->
        <!-- Multiple conditions... -->
        <div *ngIf='name.invalid && (name.dirty || name.touched)' class='alert alert-danger'>
          <!-- The code below is situation-dependent - think before coding -->
          <div *ngIf='name.errors?.required'>Name is required, 3 to 100 characters</div>
          <div *ngIf='name.errors?.minlength'>Name must be at least 3 characters</div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="job">Job:</label>
        <input class="form-control" id="job" name="job" [(ngModel)]="newUser.job" required minlength="5" maxlength="50"
          #job="ngModel">

        <!-- Validation error area -->
        <div *ngIf='job.invalid && (job.dirty || job.touched)' class='alert alert-danger'>
          <div *ngIf='job.errors?.required'>Job is required, 5 to 50 characters</div>
          <div *ngIf='job.errors?.minlength'>Job must be at least 5 characters</div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!f.form.valid">Save</button>&nbsp;
      <a routerLink="/users" class="btn btn-default">Back to list</a>

    </form>
  </div>
  <div class="col-md-4">
    <h4>Data being entered:</h4>
    <p class="lead"><code>{{ newUser | json }}</code></p>
    <h4>Result of the save task:</h4>
    <p class="lead"><code>{{ newUserResult | json }}</code></p>
  </div>
</div>