<div class="row">
  <h4>Login - enter information, and click the login button</h4>
  <div class='col-md-8 col-sm-12'>

    <form>

      <!-- Edit to make this an Angular template-driven form -->

      <div class="form-group">
        <label class="control-label" for="userName">User name:</label>
        <input class="form-control" id="userName" name="userName">
      </div>

      <div class="form-group">
        <label class="control-label" for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>

      <a class="btn btn-default" routerLink='/home'>Back to home</a>
      <!-- <button class="btn btn-default" (click)='logout()'>Logout</button> -->
      <button class="btn btn-primary" type="submit">Login</button>&nbsp;&nbsp;
      <span *ngIf='loginError.length>0' class="text-danger">{{ loginError }}</span>
    </form>

  </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
